<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
	<button ion-button icon-only (click)="goBack()">
          <ion-icon id="{{ 'id' | translate }}" ios="ios-arrow-{{ 'side' | translate }}" md="md-arrow-{{ 'side' | translate }}"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>{{ 'AudioList' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="action-sheets-basic-page">
<div *ngIf="lang==1" style="padding-left:10px; padding-right:10px; color:#185e85; direction:rtl;font-size:15px">
	{{ 'msgeMenueOne' | translate }} <ion-icon ios="ios-menu" md="md-menu" style="font-size:25px"></ion-icon> {{ 'msgeMenueTow' | translate }}
</div>
<div *ngIf="lang==2" style="padding-left:10px; padding-right:10px; color:#185e85; direction:ltr;font-size:15px">
	{{ 'msgeMenueOne' | translate }} <ion-icon ios="ios-menu" md="md-menu" style="font-size:25px"></ion-icon> {{ 'msgeMenueTow' | translate }}
</div>
<div style="margin-top:15px">
<ion-list>
<ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)" style="margin-left: 10px;margin-right: 10px;">
<div *ngFor="let item of returnDataWatchList; let i = index">
    <ion-item *ngIf="pageName[i]==1" style="margin-bottom: 10px;border-radius: 5px;">
       <div class="styleText" >
         <ion-row>
        <ion-col col-2 style="background-color:#185e85;"> 
            <div style="text-align: -webkit-center;padding: 12px;padding-top: 17px;"><img src="assets/imgs/mice.png" style="width:20px; height:20px"></div>
        </ion-col>
            <ion-col col-6><div style="overflow: hidden;width: 100%;text-overflow: ellipsis;padding: 18px;padding-top: 10px;">{{item.name}}</div></ion-col>
            <ion-col col-4>
                <div style="padding-top:10px">
                    <ion-row>
                        <ion-col col-8> 
                            <div style="padding-top: 4px;">
                                <img src="assets/imgs/play.png" style="width:30px; height:30px" *ngIf="lang==1 && !is_playing[item.num]" (click)="playRecording(item.num)">
                                <img src="assets/imgs/playEn.png" style="width:30px; height:30px" *ngIf="lang==2 && !is_playing[item.num]" (click)="playRecording(item.num)">
                                <img src="assets/imgs/puse.png" style="width:30px; height:30px" *ngIf="is_playing[item.num]" (click)="pausePlayRecording()">
             					<img src="assets/imgs/delete.png" style="width:30px; height:30px" (click)="removeBookMark(item[0],i)">
                           </div>
                        </ion-col>
                         <ion-col col-4 style="text-align:center"> 
                            <div style="padding-top: 4px;text-align: center;font-size: 16px;height: 34px;background-color: #185e85;color: white;border-radius: 100%;width:33px"><img src="assets/imgs/repetad.png" width="12px" height="12px">{{item.repeted}}</div>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
        </div>
    </ion-item>
</div>
</ion-item-group>
</ion-list>
</div>
</ion-content>
<ion-footer style="background-color:#185e85">
<ion-toolbar style="margin-top: 0px;">
	<div>
        <ion-grid style="direction:ltr">
            <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; padding:0px">
             <ion-col style="text-align:center;color:#FFFFFF;padding-top:15px;"><ion-label range-right class="rangeOne">{{ position[redingType]*1001 | date:'HH:mm:ss':'UTC' }}</ion-label></ion-col>
                <ion-col style="text-align:center; padding:0px">
                    <button ion-button icon-only (click)="playRecording('b')">
                        <img src="assets/imgs/06Button.png" width="25px" height="25px">
                    </button>
                </ion-col>
                <ion-col style="text-align:center;">
                    <button ion-button icon-only (click)="playRecording('a')" *ngIf="!is_playing[redingType]">
                        <img src="assets/imgs/05Button.png" width="40px" height="40px">
                    </button>
                    <button ion-button icon-only (click)="pausePlayRecording()" *ngIf="is_playing[redingType]">
                        <img src="assets/imgs/04Button.png" width="40px" height="40px">
                    </button>
                </ion-col>
                <ion-col style="text-align:center; padding:0px">
                    <button ion-button icon-only (click)="playRecording('n')">
                        <img src="assets/imgs/07Button.png" width="25px" height="25px">
                    </button>
                </ion-col>
                <ion-col style="text-align:center;color:#FFFFFF;padding-top:15px;">
                    <ion-label range-left *ngIf="duration[redingType] == -1" class="rangeTow">00:00:00</ion-label>
                    <ion-label range-left *ngIf="duration[redingType] != -1" class="rangeTow">{{ duration[redingType]*1000 | date:'HH:mm:ss':'UTC' }}</ion-label>
                </ion-col>
            </ion-row>
             <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; padding:0px">
             <ion-col style="text-align:center;color:#FFFFFF; padding:0px">
               <ion-range min="0" max="{{duration[redingType]}}" [(ngModel)]="position[redingType]" ></ion-range>
             </ion-col>
            </ion-row>
        </ion-grid>
        </div>
</ion-toolbar>
</ion-footer>